.product-buy {
    padding-top: 60px;
    padding-bottom: 80px;
    background-color: #fcf8ee; 
}

.intro-product-buy {
    text-align: center;
}
  
.title {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 40px;
    color: #f4b915;
    font-weight: 700;
}

.img-hero {
    display: block;
    margin-top: 20px;
}

.product-buy .product-buy-navigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.product-buy-products {
    margin-top: 30px;
}
.product-buy .product-buy-navigation ul li {
    list-style-type: none;
    height: 40px;
    min-width: 150px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    color: var(--text-color);
}

.action-navigation {
    background: #fff;
    box-shadow: 0px 0px 18px 0px rgba(206,137,0,0.12);
}
.action-navigation-a {
    color: var(--primary-color) !important;
}

.product-buy .product-buy-navigation ul li:hover{
    background: #fff;
    box-shadow: 0px 0px 18px 0px rgba(206,137,0,0.12);
}
.product-buy .product-buy-navigation ul li:hover a {
    color: var(--primary-color);
}
.product-buy .product-buy-navigation > ul > li > a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}

:root {
    --primary-color: #f9a529 !important;
    --text-color: #363025;
    --back-color: #fcf8ee;
}

.product-buy-list {
    margin-top: 15px;
    position: relative;
    overflow: hidden;
    min-height: 400px;
    border: 3px solid var(--primary-color);
    background: #fff;
    border-radius: 10px;
}

.product-cat{
    min-height: auto;
    padding: 25px 25px 5px 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
}

.producitem, .product-buy .product-buy-list .producitem {
    padding: 10px;
    width: 19%;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 8px;
}
.product-buy .producitem .img-item-hero img {
    width: 210px;
    height: 210px;
    object-fit: cover;
}
.all_products .all_products__content_list_products .producitem, .product-buy .product-buy-list .producitem {
    padding: 10px;
    width: 19%;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 8px;
}
.product-buy .product-buy-list .producitem .price > div > a, .hero .hero-list-product .producitem-featured .price div > a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    display: block;
    text-align: center;
}
.line-clamp-2 {
    width: 164px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; /* Số dòng tối đa muốn hiển thị */
    /* Cung cấp chiều cao tối đa cho div chứa thẻ a để đảm bảo nội dung vượt quá 2 dòng sẽ bị ẩn */
}

.price-new{
    color: #ef1515;
    display: block;
    font-size: 18px;
    font-weight: 700;
}

