.header {
  height: 600px;
  max-height: 680px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fcf8ee;
  .breadcrumb {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    gap: 5px;
    a,
    span {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
    }
    .change {
      color: #f9a529;
      cursor: default;
    }
  }
}
