.container {
    margin: 0 50px 0 50px;
    .header_top {
        padding-top: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        a {
            padding: 0 5px;
            text-decoration: none;
            color: #fff;
            font-size: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
            .sub_icon_header_top {
                font-size: 20px;
            }
        }
    }
    .header_main {
        margin-top: 20px;
        background-color: #71cbe8;
        position: relative;
        min-height: 75px;
        border-radius: 50px;
        padding: 8px;
        .nav_list_items {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border: 1px dashed #fff;
            border-radius: 50px;
            min-height: 75px;
            .nav_item {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2px;
                .icon_nav_body {
                    font-size: 18px;
                    color: #fff;
                }
                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 18px;
                }
                .logo {
                    width: 180px;
                    height: 180px;
                    object-fit: cover;
                    position: absolute;
                    top: 45%;
                    left: 50%;
                    transform: translate(-40%, -50%);
                }
                &:nth-child(3) {
                    margin-right: 25px;
                }
                &:nth-child(4) {
                    margin-right: 25px;
                }
            }
        }
    }
}
