.container {
    margin: 0 50px 0 50px;
    .header_top {
        padding-top: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        a {
            padding: 0 5px;
            text-decoration: none;
            color: #fff;
            font-size: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
            .sub_icon_header_top {
                font-size: 20px;
                position: relative;
            }
            &:hover {
                .hendle_login_logout {
                    display: block;
                }
            }
        }
        .container_login_logout {
            padding: 0 5px;
            color: #fff;
            font-size: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            .sub_icon_header_top {
                font-size: 20px;
                position: relative;
            }
            &:hover {
                .hendle_login_logout {
                    display: block;
                }
            }
        }
        .hendle_login_logout {
            display: none;
            max-width: 215px;
            padding: 0 25px;
            position: absolute;
            background-color: #fff;
            top: 55px;
            right: 90px;
            border-radius: 8px;
            box-shadow: 0 0 0.5px 0.5px #fff;
            z-index: 1;
            animation: sub_nav 0.5s ease;
            li {
                list-style-type: none;
                padding: 12px 0;
                a {
                    display: block;
                    text-decoration: none;
                    color: var(--text-color);
                    font-size: 17px;
                }
                &:first-child {
                    border-bottom: 1px solid #ccc;
                }
                &:hover {
                    a {
                        color: var(--primary-color);
                    }
                }
            }
            &::before {
                content: "";
                display: block;
                width: 129px;
                height: 16px;
                background-color: transparent;
                position: absolute;
                left: 25px;
                top: -13px;
            }
        }
    }
    .header_main {
        margin-top: 20px;
        background-color: #71cbe8;
        position: relative;
        min-height: 75px;
        border-radius: 50px;
        padding: 8px;
        .nav_list_items {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border: 1px dashed #fff;
            border-radius: 50px;
            min-height: 75px;
            .nav_item {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2px;
                position: relative;
                .icon_nav_body {
                    font-size: 18px;
                    color: #fff;
                }
                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 18px;
                    position: relative;
                    &::after {
                        content: "";
                        display: block;
                        width: 0;
                        height: 4px;
                        background-color: var(--primary-color);
                        transition: width 1.25s ease;
                        position: absolute;
                        bottom: -1;
                    }

                    &:hover {
                        &::after {
                            width: 100%;
                        }
                    }
                }
                .logo {
                    top: 45%;
                    left: 50%;
                    width: 180px;
                    height: 180px;
                    object-fit: cover;
                    position: absolute;
                    transform: translate(-40%, -50%);
                }
                &:nth-child(3) {
                    margin-right: 25px;
                }
                &:nth-child(5) {
                    margin-left: 50px;
                }
                .sub_nav_lv1 {
                    display: none;
                    top: 56px;
                    left: -35px;
                    background-color: #fff;
                    padding: 0 15px;
                    position: absolute;
                    box-shadow: 0 0 0.5px 0.5px #fff;
                    animation: sub_nav 0.3s ease-in-out;
                    li {
                        display: flex;
                        justify-content: space-between;
                        list-style: none;
                        padding: 10px 0;
                        min-width: 160px;
                        border-bottom: solid 1px #e5e6ec;
                        a {
                            font-size: 1.4rem;
                            font-size: 14px;
                            text-decoration: none;
                            color: var(--text-color);
                        }
                        i {
                            font-size: 14px;
                            color: #555;
                        }
                        .sub_nav_lv2 {
                            display: none;
                            top: 1px;
                            right: -182px;
                            padding: 0 15px;
                            position: absolute;
                            background-color: #fff;
                            box-shadow: 0 0 0.5px 1px #fff;
                            animation: sub_nav_item 0.25s ease-in-out;
                            li {
                                min-width: 150px;
                            }
                            &::before {
                                content: "";
                                display: block;
                                width: 40px;
                                height: 40px;
                                background-color: transparent;
                                position: absolute;
                                left: -20px;
                            }
                        }
                        &:hover {
                            .sub_nav_lv2 {
                                display: block;
                            }
                        }
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        width: 180px;
                        height: 40px;
                        top: -34px;
                        right: 0px;
                        display: block;
                        background-color: transparent;
                    }
                }
                &:hover {
                    .sub_nav_lv1 {
                        display: block;
                    }
                }
            }
        }
    }
}
// Animation
@keyframes sub_nav {
    0% {
        opacity: 0;
        transform: translateX(-20%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes sub_nav_item {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
.main_carts {
    display: none;
    &::before {
        position: absolute;
        content: "";
        display: block;
        width: 90px;
        height: 50px;
        top: 40px;
        bottom: 0;
        right: 50px;
        background-color: transparent;
        z-index: 999999;
    }
}
.cart {
    &:hover {
        .main_carts {
            display: block !important;
        }
    }
}
